    body{
       background-color: gray ;
       }
       h1{
       color:green;
       text-align:center ;
       border:solid;color:white;
       border-radius: 20px;
       border: 2px solid white;  
       }
       #p1{
       color:blue;  
       font-size: 2em;
       text-align: center
       vertical-align: text-top;  
       }
       table{
       color:white;
       border:solid;color:white; 
       border-radius:20px;
       
       }
